.cover_img {
    display: inline-block;
    padding: 10px 40px;
    
}
.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    width: 200px;
    height: 30px;
    color: rgb(255, 225, 192);
    padding-left: 12px;
}